/* SCREEN */

#screen {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2em;
}

#screen .line {
	flex: 1;
	padding: .5em;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}


/* HEAD */

#screen .head {
	flex: 0 1 auto;
}

#screen .head .title {
	font-size: var(--font-xl);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: var(--mrg-text) 0em;
}

#screen .head .title>span {
	background-color: var(--clr-accent-1);
	padding: 1em 0;
}

#screen .head .lineNumber {
	font-size: var(--font-xxl);
}


/* BODY */

#screen .body {
	flex: 1 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#screen .body .departure {
	font-size: var(--font-xl);
}

#screen .body .departure .min {
	font-size: var(--font-xs);
}

#screen .body .title {
	font-size: var(--font-xl);
	padding: var(--mrg-text) 0em;
	overflow: hidden;
	margin: .5em 0 0.25em 0;
}

#screen .body .title>span {
	background-color: var(--clr-accent-3);
	padding: var(--font-xl) 0;
}